/* Reset styles */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

/* Single container for all content */
.container {
  border: 2px solid #333;
  width: 90%;
  max-width: 1200px;
  margin: 20px auto; 
  padding: 20px;
  background-color: #fff;
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Header */
header {
  text-align: center;
  padding-top: 3rem;
padding-right: 3rem;
padding-bottom: 3rem;
padding-left: 0; 
  background: url('linkedin_cover.jpg') no-repeat center center;
  background-size: cover;
  color: #fff;
}

header h1 {
  font-size: 2rem;
  margin: 0;
}

/* Navigation bar */
nav {
  background-color: #555; 
  padding: 0.5rem 0;
  position: relative;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 0.75rem 1rem;
}

.hamburger {
  display: none;
  font-size: 2rem;
}

@media (max-width: 600px) {
  .hamburger {
    display: block;
  }

  nav ul {
    display: none; 
    flex-direction: column;
  }

  nav ul.active {
    display: flex;
  }
}

/* About-me Section */
.about-me {
  display: flex;
  align-items: center; 
  gap: 20px;
}

.about-me .content {
  flex: 1;
}

.about-me img {
  flex: 0 0 200px;
  max-width: 200px;
  width: 100%; 
  height: auto;
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  align-self: flex-start; /* Align with the first line of text */
  margin-top: 20px; /* Adjust margin to fine-tune alignment */
}

@media (max-width: 600px) {
  .about-me {
    flex-direction: column;
    align-items: center;
  }

  .about-me img {
    margin-top: 20px;
  }
}

footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
}
